@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('font-awesome.min.css');

@font-face {
    font-family: SweiMarkerSansCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff) format("woff");
}

:root {
    --primary-bg: #e3e4ec;
    --active-bg: #ffffff;
    --inactive-bg: #d0d3df;
    --footer-height: 0;
    --footer-h_L: 300px;
    --footer-h_M: 200px;
    --footer-h_S: 100px;
}

::selection {
    background: #ff8e09;
    color: #fff;
}

::-moz-selection {
    background: #ff8e09;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-size: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #333;
}

body.grabbing .star_handle {
    transition: none !important;
}

#glcanvas,
#tunnelCanvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.space_line {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(images/space_line.svg) 16.25% 31.25% no-repeat;
    background-size: cover;
}


/* 背景小物件 開始 */

#bg_obj {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bg_obj .obj_item {
    position: absolute;
    /* 起點在中心 */
    top: 35%;
    left: 25%;
    width: 80px;
    height: 80px;
    /* 修正中心偏誤 */
    margin-top: -40px;
    margin-left: -40px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    animation: scatter 8s linear infinite;
}

#bg_obj .obj_item:nth-child(1) {
    background-image: url(images/icon_obj_01.svg);
    animation-delay: 0s;
    --target-x: -600%;
    --target-y: -600%;
}

#bg_obj .obj_item:nth-child(2) {
    background-image: url(images/icon_obj_02.svg);
    animation-delay: 0.7s;
    --target-x: 600%;
    --target-y: -450%;
}

#bg_obj .obj_item:nth-child(3) {
    background-image: url(images/icon_obj_03.svg);
    animation-delay: 1.4s;
    --target-x: 450%;
    --target-y: 600%;
}

#bg_obj .obj_item:nth-child(4) {
    background-image: url(images/icon_obj_04.svg);
    animation-delay: 2.1s;
    --target-x: 0%;
    --target-y: 700%;
}

#bg_obj .obj_item:nth-child(5) {
    background-image: url(images/icon_obj_05.svg);
    animation-delay: 2.8s;
    --target-x: -700%;
    --target-y: -250%;
}

#bg_obj .obj_item:nth-child(6) {
    background-image: url(images/icon_obj_06.svg);
    animation-delay: 3.5s;
    --target-x: 700%;
    --target-y: 300%;
}


#bg_obj .obj_item:nth-child(7) {
    background-image: url(images/icon_obj_07.svg);
    animation-delay: 1s;
    --target-x: -330%;
    --target-y: -480%;
}

#bg_obj .obj_item:nth-child(8) {
    background-image: url(images/icon_obj_08.svg);
    animation-delay: 1.7s;
    /* 右上 */
    --target-x: 430%;
    --target-y: -300%;
}

#bg_obj .obj_item:nth-child(9) {
    background-image: url(images/icon_obj_09.svg);
    animation-delay: 2.4s;
    --target-x: 830%;
    --target-y: 820%;
}

#bg_obj .obj_item:nth-child(10) {
    background-image: url(images/icon_obj_10.svg);
    animation-delay: 3.1s;
    --target-x: -520%;
    --target-y: 570%;
}

#bg_obj .obj_item:nth-child(11) {
    background-image: url(images/icon_obj_11.svg);
    animation-delay: 3.8s;
    --target-x: -410%;
    --target-y: -60%;
}

#bg_obj .obj_item:nth-child(12) {
    background-image: url(images/icon_obj_12.svg);
    animation-delay: 4.5s;
    --target-x: 300%;
    --target-y: 700%;
}


#bg_obj .obj_item:nth-child(13) {
    background-image: url(images/icon_obj_13.svg);
    animation-delay: 2.1s;
    --target-x: -760%;
    --target-y: -60%;
}

#bg_obj .obj_item:nth-child(14) {
    background-image: url(images/icon_obj_14.svg);
    animation-delay: 0.8s;
    --target-x: 100%;
    --target-y: -350%;
}

#bg_obj .obj_item:nth-child(15) {
    background-image: url(images/icon_obj_15.svg);
    animation-delay: 2.5s;
    --target-x: 900%;
    --target-y: 0%;
}

#bg_obj .obj_item:nth-child(16) {
    background-image: url(images/icon_obj_16.svg);
    animation-delay: 2.2s;
    --target-x: -900%;
    --target-y: 300%;
}

#bg_obj .obj_item:nth-child(17) {
    background-image: url(images/icon_obj_17.svg);
    animation-delay: 2.9s;
    --target-x: -200%;
    --target-y: -150%;
}

/* 核心動畫 */

@keyframes scatter {
    0% {
        /* 起始點：縮小、無旋轉 */
        transform: translate(0, 0) scale(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        transform: translate(var(--target-x), var(--target-y)) scale(2) rotate(var(--rotation, 360deg));
        opacity: 0;
    }
}


/* 背景小物件 結束 */


/* 首頁-大版面 開始 */

.home_wrapper {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    /* v_01 */
    height: calc(100vh - 50px);
    height: calc(100dvh - 50px);
}

.home_wrapper .box_L,
.home_wrapper .box_R {
    flex: 1;
    align-self: center;
    padding: 20px;
}

@media(max-width:1100px) {
    .home_wrapper {
        display: block;
        height: auto;
    }

    .home_wrapper .box_L {
        padding: 90px 20px 20px 20px;
    }

    .home_wrapper .box_R {
        width: 100%;
        padding: 20px 40px;
        justify-self: center;
    }
}

@media(max-width:600px) {
    .home_wrapper .box_L {
        padding: 90px 20px 20px 20px;
    }

    .home_wrapper .box_R {
        padding: 20px 20px;
    }
}


/* 首頁-大版面 結束 */


/* 飛船區 開始 */

.fly_box img {
    width: 100%;
    transform: rotate(-15deg) scale(1.8);
    animation: floating 3s ease-in-out infinite;
}

@media(max-width:1100px) {
    .fly_box img {
        transform: rotate(-15deg) scale(1);
        animation: floating-mobile 3s ease-in-out infinite;
    }
}


/* 1. 定義動畫：命名為 floating */

@keyframes floating {
    0% {
        transform: rotate(-15deg) scale(1.3) translate(50px, 40px);
    }

    50% {
        transform: rotate(-15deg) scale(1.3) translate(50px, 20px);
    }

    100% {
        transform: rotate(-15deg) scale(1.3) translate(50px, 40px);
    }
}


/* 針對 RWD 的動畫設定 (縮放比例不同) */
@keyframes floating-mobile {
    0% {
        transform: rotate(-15deg) scale(1.3) translate(-20px, 40px);
    }

    50% {
        transform: rotate(-15deg) scale(1.3) translate(-20px, 20px);
    }

    100% {
        transform: rotate(-15deg) scale(1.3) translate(-20px, 40px);
    }
}


/* 飛船區 結束 */


/* 首頁-LOGO區 開始 */

.home_logo_box {
    margin: 50px 0 50px 0;
    text-align: right;
}

.home_logo_box img {
    width: 100%;
    max-width: 900px;
}

@media(max-width:1100px) {
    .home_logo_box {
        margin: 100px 0 50px 0;
        text-align: center;
    }
}


/* 首頁-LOGO區 結束 */


/* 首頁-選單 開始 */

.home_menu_box {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 480px;
    padding: 25px 30px 25px 10px;
    z-index: 1;
    margin-left: auto;
}

.home_menu_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-bg);
    border: 3px solid #000;
    border-radius: 40px 0 0 0;
    filter: url(#hand-drawn-filter);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    z-index: -1;
}

@media(max-width:1100px) {
    .home_menu_box {
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* 選單-左側功能區 */

.home_menu_box .home_func_box {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.home_menu_box .home_func_box .star-track {
    position: relative;
    width: 26px;
    height: 220px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    cursor: pointer;
    filter: url(#hand-drawn-filter);
}

.home_menu_box .home_func_box .star-track::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 10px;
    width: 4px;
    background: #000;
    transform: translateX(-50%);
    border-radius: 2px;
}

.home_menu_box .home_func_box .star-handle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    top: 0%;
    cursor: grab;
    z-index: 20;
}

.home_menu_box .home_func_box .star-handle:active {
    cursor: grabbing;
}

.home_menu_box .home_func_box .star-handle img {
    width: 48px;
    height: 48px;
    display: block;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}


/* 選單-右側選單列表 */

.home_menu_box .menu_list_wrapper {
    flex: 1;
    height: 280px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.home_menu_box .menu_list_wrapper .menu_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item {
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: -22px;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item:first-child {
    margin-top: 0;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item_inner {
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item_inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--inactive-bg);
    border: 3px solid #999;
    border-radius: 2px 4px 3px 6px / 6px 3px 5px 2px;
    filter: url(#hand-drawn-filter);
    z-index: -1;
    transition: all 0.4s;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item span {
    font-size: 36px;
    font-weight: 900;
    color: #666;
    letter-spacing: 6px;
    transition: all 0.4s;
    display: block;
    pointer-events: none;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item.active {
    z-index: 100;
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item.active .menu_item_inner::after {
    background: var(--active-bg);
    border-color: #000;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item.active span {
    color: #000;
    letter-spacing: 10px;
}


/* 距離太遠的項目透明度 */

.home_menu_box .menu_list_wrapper .menu_list_container .menu_item.far {
    opacity: 0.3;
    filter: blur(1px);
}



/* 首頁-選單 結束 */


/* 首頁-頁尾 開始 */

.home_footer_box {
    text-align: center;
    /* v_01 */
    height: 50px;
}

.home_footer_box img {
    width: 100%;
    max-width: 200px;
}


/* 首頁-頁尾 結束 */


/* 內頁-大版面 開始 */

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.wrapper .box_L {
    width: 450px;
    align-self: flex-start;
    position: sticky;
    top: 10px;
}

.wrapper .box_R {
    flex: 1;
}

@media(max-width:1100px) {
    .wrapper {
        display: block;
    }

    .wrapper .box_L {
        z-index: 1;
    }
}


/* 內頁-大版面 結束 */


/* LOGO區 開始 */

.logo_box {
    margin: 10px 0 10px 0;
    text-align: center;
}

.logo_box a {
    text-decoration: none;
    display: inline-block;
}

.logo_box a img {
    width: 100%;
    max-width: 200px;
}

@media(max-width:1100px) {
    .logo_box {
        display: none;
    }
}


/* LOGO區 結束 */


/* 主選單-外包 開始 */

.menu_box {
    position: absolute;
    left: 20px;
    display: flex;
}

.menu_box.open {
    left: 0;
}

@media(max-width:1100px) {
    .menu_box {
        position: absolute;
        top: 40px;
        /* v_02 */
        left: -380px;
        transition: left 0.5s;
    }
}


/* 主選單-外包 結束 */


/* 主選單 開始 */

.menu_box .menu_list {
    margin: 0;
    padding: 0;
    transform: translateX(-5px);
}

.menu_box .menu_list li {
    list-style-type: none;
    width: 40px;
    height: 70px;
}

.menu_box .menu_list li.item_1 {
    transform: translateY(calc(-20px * 0));
    background: url(images/tab_bg_01.svg) 0 0 no-repeat;
}

.body_epoch_1 .menu_box .menu_list li.item_1 {
    width: 40px;
    height: 170px;
    position: relative;
    z-index: 1;
    background: url(images/tab_bg_01_active.svg) 0 0 no-repeat;
}

.menu_box .menu_list li.item_2 {
    transform: translateY(calc(-20px * 1));
    background: url(images/tab_bg_02.svg) 0 0 no-repeat;
}

.body_epoch_2 .menu_box .menu_list li.item_2 {
    width: 40px;
    height: 170px;
    position: relative;
    z-index: 1;
    background: url(images/tab_bg_02_active.svg) 0 0 no-repeat;
}

.menu_box .menu_list li.item_3 {
    transform: translateY(calc(-20px * 2));
    background: url(images/tab_bg_03.svg) 0 0 no-repeat;
}

.body_epoch_3 .menu_box .menu_list li.item_3 {
    width: 40px;
    height: 170px;
    position: relative;
    z-index: 1;
    background: url(images/tab_bg_03_active.svg) 0 0 no-repeat;
}

.menu_box .menu_list li.item_4 {
    transform: translateY(calc(-20px * 3));
    background: url(images/tab_bg_04.svg) 0 0 no-repeat;
}

.body_epoch_4 .menu_box .menu_list li.item_4 {
    width: 40px;
    height: 170px;
    position: relative;
    z-index: 1;
    background: url(images/tab_bg_04_active.svg) 0 0 no-repeat;
}

.menu_box .menu_list li.item_5 {
    transform: translateY(calc(-20px * 4));
    background: url(images/tab_bg_05.svg) 0 0 no-repeat;
}

.body_epoch_5 .menu_box .menu_list li.item_5 {
    width: 40px;
    height: 170px;
    position: relative;
    z-index: 1;
    background: url(images/tab_bg_05_active.svg) 0 0 no-repeat;
}

.menu_box .menu_list li.item_switch {
    transform: translateY(calc(-20px * 5));
    background: url(images/tab_bg_switch.svg) 0 0 no-repeat;
}

.menu_box .menu_list li a {
    text-decoration: none;
    display: block;
    min-height: 100px;
    text-align: center;
}

.menu_box .menu_list li a span {
    display: none;
    padding: 50px 2px 0 2px;
    line-height: 22px;
    font-family: SweiMarkerSansCJKtc-Regular;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.body_epoch_1 .menu_box .menu_list li.item_1 a span,
.body_epoch_2 .menu_box .menu_list li.item_2 a span,
.body_epoch_3 .menu_box .menu_list li.item_3 a span,
.body_epoch_4 .menu_box .menu_list li.item_4 a span,
.body_epoch_5 .menu_box .menu_list li.item_5 a span {
    display: inline-block;
}

.menu_box .menu_list li.item_switch {
    display: none;
}

.menu_box .menu_list li.item_switch a {
    background: url(images/icon_menu_open.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box.open .menu_list li.item_switch a {
    background: url(images/icon_menu_close.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box .menu_list li.item_1 a {
    background: url(images/icon_menu_01.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box .menu_list li.item_2 a {
    background: url(images/icon_menu_02.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box .menu_list li.item_3 a {
    background: url(images/icon_menu_03.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box .menu_list li.item_4 a {
    background: url(images/icon_menu_04.svg) 50% 20px no-repeat;
    background-size: 25px;
}

.menu_box .menu_list li.item_5 a {
    background: url(images/icon_menu_05.svg) 50% 20px no-repeat;
    background-size: 25px;
}

@media(max-width:1100px) {
    .menu_box .menu_list li.item_switch {
        display: block;
    }
}


/* 主選單 結束 */


/* 時間軸設計 開始 */

.timeline_box {
    --transition-speed: 0.5s;
    --transition-timing: ease-in-out;
    --ring-size: 900px;
    position: relative;
}

.timeline_box .timeline-ring-out {
    /* v_02 */
    width: 380px;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.body_epoch_1 .menu_box .timeline_box .timeline-ring-out {
    background: linear-gradient(to right, #ffffff 0%, #fff3c7 100%);
}

.body_epoch_2 .menu_box .timeline_box .timeline-ring-out {
    background: linear-gradient(to right, #ffffff 0%, #3a9eff 100%);
}

.body_epoch_3 .menu_box .timeline_box .timeline-ring-out {
    background: linear-gradient(to right, #ffffff 0%, #ffeb6f 100%);
}

.body_epoch_4 .menu_box .timeline_box .timeline-ring-out {
    background: linear-gradient(to right, #ffffff 0%, #ffb1a1 100%);
}

.body_epoch_5 .menu_box .timeline_box .timeline-ring-out {
    background: linear-gradient(to right, #ffffff 0%, #a1ffe2 100%);
}

.timeline_box .timeline-ring-out::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #000;
    filter: url(#hand-drawn-filter);
    border-radius: 2px 4px 3px 6px / 6px 3px 5px 2px;
    pointer-events: none;
}

.timeline_box .timeline-ring {
    position: absolute;
    width: var(--ring-size);
    height: var(--ring-size);
    /* 調整水平位置 */
    /*left: calc(var(--ring-size) / -2 - 50px);*/
    left: calc(420px - var(--ring-size));
    /* 調整垂直位置 */
    top: -230px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: transform var(--transition-speed) var(--transition-timing);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_box .timeline-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    padding: 10px 20px;
    background: #fff;
    display: flex;
}

.timeline_box .timeline-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #000;
    filter: url(#hand-drawn-filter);
    border-radius: 2px 4px 3px 6px / 6px 3px 5px 2px;
}

.timeline_box .timeline-top p {
    margin: 0;
    padding: 0;
    flex: 1;
    align-self: center;
}

.timeline_box .timeline-top p.title {
    font-family: SweiMarkerSansCJKtc-Regular;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.timeline_box .timeline-top p.item_num {
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}

.timeline_box .timeline-node {
    position: absolute;
    right: 0;
    /* 不可修改 */
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    /* v_02 */
    transform-origin: calc(-1 * (var(--ring-size) / 2 - 380px)) center;
    transition: opacity 0.6s, filter 0.6s;
    opacity: 0.2;
    filter: blur(1px);
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

.timeline_box .timeline-node.active {
    opacity: 1;
    filter: blur(0);
    z-index: 1;
}

.timeline_box .node-dot-container {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_box .node-dot {
    width: 12px;
    height: 12px;
    background: #666;
    border-radius: 50%;
    transition: all 0.5s var(--transition-timing);
    filter: url(#hand-drawn-filter);
}

.timeline_box .timeline-node.active .node-dot {
    background: #000;
}

.timeline_box .node-title {
    transition: transform var(--transition-speed) var(--transition-timing), color 0.4s;
    transform-origin: left center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    /* 項目寬度 */
    margin-left: 10px;
    margin-right: 110px;
}

.timeline_box .node-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 3px solid #333;
    /* 只對這個背景層套用濾鏡 */
    filter: url(#hand-drawn-filter);
    /* 確保在文字下方 */
    z-index: -1;
    /* 增加一點不對稱圓角，手繪感更強 */
    border-radius: 10px;
}

.timeline_box .node-title span {
    font-family: SweiMarkerSansCJKtc-Regular;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.timeline_box .timeline-node.active .node-title span {
    font-weight: 600;
}

.timeline_box .controls {
    position: absolute;
    top: 220px;
    left: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.timeline_box .ctrl_func_box {
    position: absolute;
    top: 110px;
    left: 20px;
    z-index: 1000;
}

.timeline_box .ctrl_func_box .star_track {
    position: relative;
    width: 26px;
    height: 220px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    cursor: pointer;
    filter: url(#hand-drawn-filter);
}

.timeline_box .ctrl_func_box .star_track::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 10px;
    width: 4px;
    background: #000;
    transform: translateX(-50%);
    border-radius: 2px;
}

.timeline_box .ctrl_func_box .star_handle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    top: 0%;
    cursor: grab;
    z-index: 20;
}

.timeline_box .ctrl_func_box .star_handle:active {
    cursor: grabbing;
}

.timeline_box .ctrl_func_box .star_handle img {
    width: 48px;
    height: 48px;
    display: block;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.2));
}

@media(max-width:600px) {
    .timeline_box .controls {
        display: flex;
    }

    .timeline_box .ctrl_func_box {
        display: none;
    }
}

.timeline_box .icon_epoch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.timeline_box .icon_epoch .item {
    display: inline-block;
    position: absolute;
}

.body_epoch_1 .timeline_box .icon_epoch .item:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 50px;
    left: 220px;
    background: url(images/icon_epoch_1_01.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_1 .timeline_box .icon_epoch .item:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 360px;
    left: 60px;
    background: url(images/icon_epoch_1_02.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_1 .timeline_box .icon_epoch .item:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 320px;
    left: 275px;
    background: url(images/icon_epoch_1_03.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_2 .timeline_box .icon_epoch .item:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 45px;
    left: 220px;
    background: url(images/icon_epoch_2_01.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_2 .timeline_box .icon_epoch .item:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 360px;
    left: 60px;
    background: url(images/icon_epoch_2_02.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_2 .timeline_box .icon_epoch .item:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 320px;
    left: 275px;
    background: url(images/icon_epoch_2_03.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_3 .timeline_box .icon_epoch .item:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 50px;
    left: 220px;
    background: url(images/icon_epoch_3_01.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_3 .timeline_box .icon_epoch .item:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 360px;
    left: 60px;
    background: url(images/icon_epoch_3_02.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_3 .timeline_box .icon_epoch .item:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 320px;
    left: 275px;
    background: url(images/icon_epoch_3_03.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_4 .timeline_box .icon_epoch .item:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 220px;
    background: url(images/icon_epoch_4_01.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_4 .timeline_box .icon_epoch .item:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 360px;
    left: 60px;
    background: url(images/icon_epoch_4_02.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_4 .timeline_box .icon_epoch .item:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 320px;
    left: 275px;
    background: url(images/icon_epoch_4_03.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_5 .timeline_box .icon_epoch .item:nth-child(1) {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 220px;
    background: url(images/icon_epoch_5_01.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_5 .timeline_box .icon_epoch .item:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 360px;
    left: 60px;
    background: url(images/icon_epoch_5_02.svg) 50% 50% no-repeat;
    background-size: contain;
}

.body_epoch_5 .timeline_box .icon_epoch .item:nth-child(3) {
    width: 100px;
    height: 100px;
    top: 320px;
    left: 275px;
    background: url(images/icon_epoch_5_03.svg) 50% 50% no-repeat;
    background-size: contain;
}


/* 時間軸設計 結束 */


/* 上一個下一個按鈕 開始 */

.c_btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 50%;
    background: #fff;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    filter: url(#hand-drawn-filter);
}

.c_btn:hover:not(:disabled) {
    background: #000;
    color: #fff;
    border-color: #000;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.c_btn svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    pointer-events: none;
}

.c_btn:active:not(:disabled) {
    transform: scale(0.95);
}

.c_btn:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    box-shadow: none;
}


/* 上一個下一個按鈕 結束 */


/* 白板 開始 */

.board {
    margin: 10px;
    padding: 30px 30px 100px 30px;
    position: relative;
    height: calc(100vh - (var(--footer-h_L) / 2));
    height: calc(100dvh - (var(--footer-h_L) / 2));
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.board::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #333;
    filter: url(#hand-drawn-filter);
    border-radius: 20px;
    pointer-events: none;
}

.board section {
    flex: 1;
    min-height: 0;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
}

.board section .c_year {
    font-family: SweiMarkerSansCJKtc-Regular;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
}


.board section .c_title {
    font-family: SweiMarkerSansCJKtc-Regular;
    font-size: 34px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.board section .c_view {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin: 0 0 10px 0;
    padding: 10px;
}

.board section .c_view::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #999;
    border-radius: 10px;
    filter: url(#hand-drawn-filter);
    pointer-events: none;
}

.board section .c_view .subhtml {
    flex: 1;
    overflow-y: scroll;
    min-height: 0;
    padding: 20px;
}

@media(max-width:1300px) {
    .board {
        padding: 30px 30px 55px 30px;
        height: calc(100vh - (var(--footer-h_M) / 2));
        height: calc(100dvh - (var(--footer-h_M) / 2));
    }
}

@media(max-width:900px) {
    .board {
        padding: 30px 30px 100px 30px;
        height: calc(100vh - (var(--footer-h_S) / 2));
        height: calc(100dvh - (var(--footer-h_S) / 2));
    }
}

/* 白板 結束 */





/* 補充連結區 開始 */

.links_box {
    padding: 0 5px;
}

.links_box a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #333;
    border-radius: 99px;
    margin: 0 10px 10px 0;
    padding: 8px 15px 8px 50px;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
}

.links_box a:hover {
    transform: translateY(-3px);
}

.links_box a.type_game {
    background: url(images/icon_game.svg) 10px 50% no-repeat;
    background-size: 30px;
}

.links_box a.type_mov {
    background: url(images/icon_mov.svg) 10px 50% no-repeat;
    background-size: 30px;
}

.links_box a.type_mov_p {
    background: url(images/icon_mov_p.svg) 10px 50% no-repeat;
    background-size: 30px;
}

.links_box a.type_ext {
    background: url(images/icon_ext.svg) 10px 50% no-repeat;
    background-size: 30px;
}


/* 補充連結區 結束 */


/* 功能區 開始 */

.func_box {
    display: flex;
    justify-content: right;
    gap: 15px;
    position: absolute;
    right: 30px;
    bottom: 40px;
}
@media(max-width:1300px) {
.func_box {
    right: 20px;
    bottom: 20px;
}
}

/* 功能區 結束 */


/* 頁尾 開始 */

.footer_box {
    position: fixed;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1600px;
    background: url(images/ctrl_box.svg) 50% 0 no-repeat;
    background-size: contain;
    pointer-events: none;
    height: var(--footer-h_L);
}

@media(max-width:1300px) {
    .footer_box {
        bottom: -70px;
        height: var(--footer-h_M);
    }
}

@media(max-width:900px) {
    .footer_box {
        display: none;
    }
}


/* 頁尾 結束 */



/* 感應點擊的區塊問題 開始 */
.timeline-node,
.menu_item,
.c_btn,
.star_handle,
.menu_box .menu_list li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 感應點擊的區塊問題 結束 */